{% extends 'index/base.html' %}

{% block title %} {{art.title}}{% endblock %}

{% block content %}
  <div>
    <div>
      <div>
        {% for message in messages %}
          <div class="container">
            <div class="row">  
              <div class="col-lg-5">
                <div class="alert alert-warning">
                  <a class="close" data-dismiss="alert">×</a> 
                  <em>{{ message }}</em>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <p>
        <em>article posté le {{art.add_date}} par {{writer.username}}</em>
      </p>

      <h3> {{art.title}} </h3>

      {% if art.pub_date %}
        <p> 
          <em>publication originale le {{art.pub_date}}</em>
        </p>
      {% endif %}
    <div>
      <h4>mots clefs</h4>
        {% if art.keyword %}
          {{ art.keyword }}
        {% else %}
          <p><em>aucun mot clef pour cet article</em></p>
        {% endif %}
    </div>
    <div>
      <h4>abstract</h4>
        {% if art.abstract %}
          {{art.abstract}}
        {% else %}
          <p><em>aucun résumé</em></p>
        {% endif %}
    </div>
    <div class="well">
      {% autoescape off %}
        {{ art.content }}
      {% endautoescape %}
    </div>
    <div>
      {{art.}}
    </div>

    <div>
      <a href="{% url 'article:edit' art.id %}">
        <button>modifier</button>
      </a>
    </div>
  </div>
{% endblock %}