{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      SciMS |{% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'index/libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'index/libs/fontAwesome/css/font-awesome.min.css' %}">
  </head>
    <body>

    <div class="container">
     
     <header class="page-header col-md-12">
        <div class="row">
           <h1><a href="{% url 'index:index' %}">SciMS</a></h1>  
        </div>
        <div class="row">
          <div class="col-md-8">
            {% if cat %}
              {% for c in cat %}
                <a href="{%url 'article:categorie' c.id %}">
                  <button class="btn btn-primary btn-md">
                    {{c.cat}}
                  </button>
                </a>
              {% endfor %}
            {% endif %}
            <a href="{% url 'article:categorie_all' %}">
              <button class="btn btn-primary btn-md">
                toutes les categories
              </button>
            </a>
          </div>
          <form class="input-group col-md-4" action="{% url 'index:search' %}" method="POST">
          {% csrf_token %}
            <input type="text" class="form-control"  name="str_srch" placeholder="Search"/>

            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </header>

      <div class="row">
        {% block nav %}
          <nav class = "navbar navbar-nav col-md-3">
            <ul class="nav nav-pills nav-stacked">
              {% if user.is_authenticated %} 
              <li class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="fa fa-user-circle fa-md"></i> {{user.username}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'index:logout' %}"><i class="fa fa-sign-out fa-md"></i> se deconnecter</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'article:create' %}"><i class="fa fa-pencil-square fa-md"></i> Créer un article</a>
                  </li>
                  {% if user.is_superuser %}
                    <li>
                      <a class="dropdown-item" href="{% url 'article:create_cat' %}"><i class="fa fa-pencil-square fa-md"></i> Creer une categorie</a>
                    </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{% url 'article:user_art' user.id %}"><i class="fa fa-folder fa-md"></i> mes articles</a>
                  </li>
                </ul>
              </li>
              {% else %}
                <li class="menu">
                  <a href="{% url 'index:login' %}"><i class="fa fa-sign-in fa-md"></i> se connecter</a>
                </li>
                <li>
                  <a href="{% url 'index:registration' %}"><i class="fa fa-user-plus fa-md"></i> S'inscrire</a>
                </li>
              {% endif %}
            </ul>
          </nav>
       
        {% endblock %}
        <div class="col-md-9">
            
            {% block auth %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        
        </div>
      </div>  
      <hr/>
      <footer class="col-md-12">
        <p>copyright : sciMS team</p>
        <p>contact : <a href="mailto:florian.souday@etu.univ-rouen.fr">florian.souday@etu.univ-rouen.fr</a><br/>
        contact : <a href="mailto:tristan.rodriguez@etu.univ-rouen.fr">tristan.rodriguez@etu.univ-rouen.fr</a>
      </p>
      </footer>
    </div>

    <script type="text/javascript" src="{% static 'index/libs/jquery/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'index/libs/bootstrap/js/bootstrap.min.js' %}"></script>
    
  </body>
</html>