{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}sciMS{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index/bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body>
    {% block nav %}
      <nav>
        <ul>
          <li class="menu">
            <a href="{% url 'index:index' %}">Acceuil</a>
          </li>
          <li>
            <a href="{% url 'article:article' %}">articles</a>
          </li>
          {% if user.is_authenticated %}    
            <li>
              <a href="{% url 'index:logout' %}">se deconnecter</a>
            </li>
            <li>
              <a href="{% url 'index:user' user.id %}">{{user.username}}</a>
            </li>
            <li classe="act_user">
              <a href="{% url 'article:edit' %}">Créer un article</a>
            </li>
            <li classe="act_user">
              <a href="{% url 'article:user_cat' user_id %}">mes articles</a>
          {% else %}
            <li>
              <a href="{% url 'index:login' %}">se connecter</a>
              <a href="{% url 'index:registration' %}">S'inscrire</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endblock %}

    {% block auth %}
    {% endblock %}

    {% block content %}
    {% endblock %}
   
  <footer>
    <p>copyright : sciMS team</p>
    <p>contact : <a href="mailto:wampixel@gmail.com">wampixel@gmail.com</a></p>
  </footer>
  <script type="text/javascript" src="{% static 'index/js/test.js' %}"/>
  </body>
</html>