{% extends 'index/base.html' %}

{% block title %} Inscription {% endblock %}

{% block content %}
  <div>
    {% for message in messages %}
      <div class="container">
        <div class="row">  
          <div class="col-lg-5">
            <div class="alert alert-warning">
              <a class="close" data-dismiss="alert">×</a> 
              <em>{{ message }}</em>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  
  <form action="{% url 'index:registration' %}" method="post">
    <div class="form-group">
      {% csrf_token %}
      {{ form.as_p }}
    </div>
    <input type="submit" value="s'inscrire" class="btn btn-primary btn-md"/>
  </form>
{% endblock %}