@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

footer {
  text-align: center;
}

h1 > a {
  color: black;
}

hr {
  border-color: #9B9B9B;
}

li {
  list-style-type: none;
}
